<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <!--
    application.css is where you put your styles
  -->

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js.erb"></script>

  <title></title>
</head>
<body>
  
  <nav id="top-nav">    
    
    <form action="/search">
      <div class="row">
        
        <div class="col-md-4">
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="specialty"></label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Search by name">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="specialty">Specialty </label>
            <select class="form-control input-md" name="specialty" id="specialty">
              <% @specialties.each do |s| %>
                <option value="<%= s %>"><%= s %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="form-group">
            <label for="distance">Distance </label>
            <select class="form-control input-md" name="distance" id="distance">
              <% @distances.each do |d| %>
                <option value="<%= d %>"><%= d %> km
                </option>
              <% end %>
            </select>
          </div>
        </div>

      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
</nav>

  <div id="sub-nav">
    
  </div>

<div class="clearfix"></div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
