 <div class="col-md-12">
  <div class="col-md-7">
    <% @mentors_with_details.each do |mentor| %> 
      <div class="row mentor-card" data-id="<%= mentor['_id'] %>" data-first-name="<%= mentor['first_name'] %>" data-last-name="<%= mentor['last_name'] %>" data-email = "<%= mentor['email'] %>" data-phone-number="<%= mentor['phone_number'] %>" data-twitter="<%= mentor['twitter'] %>" data-skype="<%= mentor['skype'] %>" data-slack="<%= mentor['slack'] %>" data-github-username="<%= mentor['github_username'] %>" data-avatar-url="<%= mentor['avatar_url'] %>" data-custom-avatar-url="<%= mentor['custom_avatar']['url'] %>" data-created-at="<%= mentor['created_at'] %>" data-admin="<%= mentor['admin'] %>" data-bio="<%= mentor['bio'] %>" data-on-duty="<%= mentor['on_duty'] %>" data-lat="<%= mentor['location'][0] %>" data-lng="<%= mentor['location'][1] %>">
        <div class="col-md-3 center">
          <img src="<%= mentor["avatar_url"] %>" class="card-avatar">
          <% if mentor["on_duty"] == true %>
            <span class="on-duty"></span>
          <% else %>
            <span class="off-duty"></span>
          <% end %>
          <div class="clearfix"></div>
          <button class="btn btn-primary profile-btn">View Profile</button>
        </div>


        <div class="col-md-9">
          <p>
            <span class="mentor-name"><%= mentor["first_name"] %> <%= mentor["last_name"] %></span>
            <% if mentor["admin"] %>
              <span class="label label-success">Admin</span>
            <% end %>
          </p>          
          <p class="mentor-since">
            <% mentor["specialties"].each do |s| %>
              <%= "#{s }" %>
            <% end %>
          </p>
          <p class="mentor-bio"><%= mentor["bio"] %></p>
          <hr>

          <span class="contact">
            <% if mentor["email"] && mentor["email"].length > 0 %> 
              <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:<%= mentor["email"] %>?Subject=Hey%20<%= mentor["first_name"] %>" target="_top"><%= mentor["email"] %></a>
            <% end %>
            <% if mentor["phone_number"] && mentor["phone_number"].length > 0 %> 
              <i class="fa fa-phone" aria-hidden="true"></i> <%= mentor["phone_number"] %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>

<div class="col-md-5 mentor-displayed">
  <div class="row mentor-displayed-top">
    <div class="col-md-7 selected-mentor-name">
      <p><span class="mentor-name">Don Burks</span></p>
      <!-- <p class="mentor-since">Mentor Since: August 2014</p> -->
      <span class="label label-success">Admin</span>
      <span class="label label-primary">On Duty</span>
    </div>
    <div class="col-md-5">
      <div class="col-md-3 center">
        <img src="images/default_user.png" class="card-avatar" alt="Mentor's Picture">
      </div>
    </div>
  </div>
  
  <div id="specialities">
    <div class="col-md-3"><img src="images/icons/ruby.svg"> Ruby</div>
    <div class="col-md-3"><img src="images/icons/javascript.svg"> Javascript</div>
    <div class="col-md-3"><img src="images/icons/node.js.svg"> Node.js</div>
    <div class="col-md-3"><img src="images/icons/jquery.svg"> jQuery</div>
    <div class="clearfix"></div>
  </div>

  <hr>

  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus earum quasi quod in, nihil dolorum mollitia aperiam magni enim! Aut numquam facere, odit. Dolorum earum, consequatur neque amet ipsum aliquam accusamus dolor quis deserunt necessitatibus nostrum nemo laborum optio saepe reiciendis quasi, a asperiores consequuntur ratione voluptatum quia officia blanditiis inventore. Saepe error, repudiandae voluptatem accusantium. Odit ducimus dolorum laudantium officiis unde saepe exercitationem, debitis reiciendis labore dolor rem nulla neque itaque dolore fugit animi magni non. Vitae, non maiores laborum doloremque exercitationem culpa ex, impedit tempora fugiat. Illo natus esse rerum fugiat neque ut, quaerat praesentium assumenda, odit laborum.</p>

  <hr>

  <div id="contact-info">
    <div class="col-md-7 email-div"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> <span class="email">don@lighthouselabs.ca</span></div>
    <div class="col-md-5 phone-div"><i class="fa fa-phone fa-lg" aria-hidden="true"></i><span class="phone">(250) 000 0000</span></div>
    <div class="col-md-7 github-div"><i class="fa fa-github fa-lg" aria-hidden="true"></i><span class="github">/donburks</span></div>
    <div class="col-md-5 skype-div"><i class="fa fa-skype fa-lg" aria-hidden="true"></i><span class="skype">/donburks</span></div>
    <div class="col-md-7 twitter-div"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i><span class="twitter"> /donburks</span></div>
    <div class="col-md-5 slack-div"><i class="fa fa-slack fa-lg" aria-hidden="true"></i><span class="slack">/donburks</span></div>
    <div class="clearfix"></div>
  </div>

  <hr>

  <div id="map"></div>

  <div class="clearfix"></div>

</div>