<% @mentors_with_details.each do |mentor| %> 

  <div class="col-md-7 mentor-card">
    <div class="row">

      <div class="col-md-3 center">
        <img src="images/default_user.png" class="card-avatar">
        <span class="on-duty"></span>
        <div class="clearfix"></div>
        <button id="profile-btn" class="btn btn-primary">View Profile</button>
      </div>

      <div class="col-md-9">
        <p>
          <span class="mentor-name"><%= mentor["first_name"] %> <%= mentor["last_name"] %></span>
          <% if mentor["admin"] %>
            <span class="label label-success">Admin</span>
          <% end %>
        </p>
        <p class="mentor-since">Mentor Since: <%= mentor["created_at"] %></p>
        <p><%= mentor["bio"] %></p>
        <hr>
        <span class="contact">
          <% if mentor["email"] && mentor["email"].length > 0 %> 
            <i class="fa fa-envelope-o" aria-hidden="true"></i><%= mentor["email"] %>
          <% end %>
          <% if mentor["phone_number"] && mentor["phone_number"].length > 0 %> 
            <i class="fa fa-phone" aria-hidden="true"></i> <%= mentor["phone_number"] %>
          <% end %>
        </span>
      </div>
    </div>
  </div>

<% end %>

<div id="mentor_detail">
</div>